#ToolBar{
    -fx-background-color: linear-gradient(rgb(9,0,31), rgb(9,0,31), rgb(78,4,57), rgb(41,10,70)); /*Debug*/
    -fx-spacing: 20px;
}

#ToolbarButtonGroup{
    -fx-background-color: green;    /*Debug*/
    -fx-spacing: 10px;
}

#LeftButtonGroup{
    -fx-spacing: 20px;
    -fx-background-color: yellow; /*Debug*/

}

.button{
    -fx-color: grey;    /*Debug*/
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-height: 40px;
    -fx-padding: 10px;

}

